.container-fluid
{
    margin-left: 300px;
}

.form-control {
    height: 35px !important;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    
}
button {
    background-color: rgb(236, 232, 232);
    border: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label{
    font-size: 12px;
}

input [type="file"] {
    display: none;
}

.btn-file {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(236, 232, 232);
}

