<div id="page-content-wrapper">
  <div class="page-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-5">
                  <div class="panel panel-danger">
                      <div class="panel-heading">
                             New Invoice
                      </div>
                      <div class="panel-body">
                        <form>


                          <div class="row">
                            <div class="col-7">
                              <label for="sel1">Partener</label>
                              <select class="form-control" id="sel1">
                                  <option>Partener 1</option>
                                  <option>Partener 2</option>
                                  <option>Partener 3</option>
                          </select>
                            </div>
                           
                            <div class="col-1"></div>
                            <div class="col-3">
                                <label for="Nr">Numar</label>
                              <input type="text" class="form-control" placeholder="Numar" id="Nr">
                            </div>
                          </div>
                        
                          <br>
                       
                            
                          <div class="row">

                              <div class="col-3">
                                  <label for="DataFactura">Data Factura</label>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="bsValue1">
                                        <div class="input-group-btn">
                                          <button class="btn btn-default" (click)="dp.show() "><span class="glyphicon glyphicon-calendar"></span></button>
                                        </div>
                                      </div>
                                    </div>
                              </div>

                              <div class="col-1"></div>

                              <div class="col-3">
                                  <label for="Nr">Nr Zile Scandete</label>
                                <input type="text" class="form-control" placeholder="Numar" id="Nr">
                              </div>
                              
                             
                              <div class="col-1"></div>
                              <div class="col-3">
                                  <label for="DataFactura">Data Scadenta</label>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp2="bsDatepicker" bsDatepicker [(bsValue)]="bsValue2">
                                        <div class="input-group-btn">
                                          <button class="btn btn-default" (click)="dp2.show() "><span class="glyphicon glyphicon-calendar"></span></button>
                                        </div>
                                      </div>
                                    </div>
                              </div>

                            </div>

                            <div class="row">
                                <div class="col-3">
                                  <label for="sel1">Valuta</label>
                                  <select class="form-control" id="sel1">
                                      <option>RON</option>
                                      <option>EUR</option>
                                      <option>USD</option>
                                      <option>CHF</option>
                              </select>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-3">
                                    <label for="sel1">Centru Cost</label>
                                    <select class="form-control" id="sel1">
                                        <option>Dep. Tehnic</option>
                                        <option>Dep. Financiar</option>
                                        <option>Dep. IT</option>
                                        <option>Dep. Contabilitate</option>
                                </select>
                                  </div>
                                  <div class="col-1"></div>
                                  <div class="col-3">
                                      <label for="sel1">Gestiune</label>
                                      <select class="form-control" id="sel1">
                                          <option>Consumabile</option>
                                          <option>Carburanti</option>
                                          <option>Papetarie</option>                              
                                  </select>
                                    </div>
                                  <div class="col-3">
                                      <label for="Nr">Stare</label>
                                    <input type="text" class="form-control" placeholder="Draft" id="Nr" disabled>
                                  </div>
                                
                              </div>
                            


                        </form>
                      </div>
                  </div>
              </div>
              <div class="col-md-5">                    
                  <div class="panel panel-success">
                      <div class="panel-heading">
                              Document Preview
                      </div>
                      <div class="panel-body">
                          content body
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>