/* .ui-radiobutton-icon {
    height: 30px !important;
} */


.ui-radiobutton-box {
    width: 1.525em;
    height: 1.525em;
    line-height: 1.525em;
    border-radius: 100%;
    text-align: center;
}