

.scrollable{
  height: 150px;
  overflow: scroll;
}


.nav-item > a {
  font-size: 15px;
  font-weight: 500; 
  
}

.card {
  border: 0px;
  font-size: 13px;
}
.card-title {
  background: #f1f1f1;  
}

.hr {
  background: #5cb85c;   
  height: 2px;
}


.nav-item .active {
  background: #5cb85c;
  color: white;

}

.nav-item > a {    
  color: black;
}

.general-page {
  border-style: solid;
 border-color: #f1f1f1;
}

.textarea {
  width: 100%;
}

.glyphicon {
  font-size: 10px;
}

.btn-link {
  padding: 0;
}