<div class="card">
    <div class="card-body">

<p-dataTable [value]="property" expandableRows="true" >
    <p-column expander="true" styleClass="col-icon" ></p-column>
    <p-column field="DenumireProprietate" header="DenumireProprietate"  styleClass="MarimeTabele"></p-column>
    <p-column field="CodProprietate" header="CodProprietate"></p-column>
    <p-column field="TipProprietate" header="TipProprietate"></p-column>
    <ng-template  let-prop pTemplate="rowexpansion">
        <div style="font-size:10px;padding:14px" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">

                <div class="ui-g">
                        <div class="ui-g-6 ui-md-3 ui-lg-1">
                                Denumire *:
                        </div>
                        <div class="ui-g-6 ui-md-3 ui-lg-2">
                            <input pInputText type="text" [(ngModel)]="prop.DenumireProprietate"/>
                        </div>
                        <div class="ui-g-6 ui-md-3 ui-lg-2">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="prop.DenumireProprietate?.length == 0">
                                <i class="fa fa-close"></i>
                                Denumire este obligatoriu
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                            <div class="ui-g-6 ui-md-3 ui-lg-1">
                                    Cod *:
                            </div>
                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                <input pInputText type="text" [(ngModel)]="prop.CodProprietate"/>
                            </div>
                            <div class="ui-g-6 ui-md-3 ui-lg-2">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="prop.CodProprietate?.length == 0">
                                    <i class="fa fa-close"></i>
                                    Cod este obligatoriu
                                </div>
                            </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6 ui-md-3 ui-lg-1">
                                        Tip *:
                                </div>
                                <div class="ui-g-6 ui-md-3 ui-lg-2">
                                    <select id="float-input" class="form-control"  [(ngModel)]="prop.TipProprietate">
                                            <option selected="selected">{{prop.TipProprietate}} </option>
                                            <option disabled>---</option>
                                            <option>Numeric</option>
                                            <option>Text</option>
                                            <option>Data</option>
                                          </select>
                                </div>
                                <div class="ui-g-6 ui-md-3 ui-lg-2">
                                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="prop.TipProprietate?.length == 0">
                                        <i class="fa fa-close"></i>
                                        Tip este obligatoriu
                                    </div>
                                </div>
                            </div>
        <div class="ui-g" style="margin: 20px 5px">
                <button type="button" style="margin-left: 1px" class="btn btn-success">Salveaza</button>
                <button  type="button" style="margin-left: 1px" class="btn btn-danger">Sterge</button>
         
        </div>
            
        </div>
    </ng-template>
</p-dataTable>
<p-dialog header="Adauga Proprietate" [(visible)]="display" modal="modal" width="300" [responsive]="true">
       
        
           <p>Denumire:   </p>  
           <input pInputText type="text" [(ngModel)]="property.DenumireProprietate"/>
       
        <br>

            <p>Cod:   </p>  
            <input pInputText type="text" [(ngModel)]="property.CodProprietate"/>
        
        <br>
             <p>Tip:   </p>  
               <select id="float-input" class="form-control"  [(ngModel)]="property.TipProprietate">
                        <option selected="selected">{{property.TipProprietate}} </option>
                        <option disabled>---</option>
                        <option>Numeric</option>
                        <option>Text</option>
                        <option>Data</option>
                      </select>
           

            <p-footer>
                <button type="button" pButton icon="fa-check" (click)="SalveazaProprieatte(property.DenumireProprietate,
                property.CodProprietate, property.TipProprietate)" label="Yes"></button>
                <button type="button" pButton icon="fa-close" (click)="display=false" label="No"></button>
            </p-footer>
    </p-dialog>
    
    <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Adauga"></button>


</div>

</div>

