<div class="card">
    <div class="card-header">
      Lista Parteneri
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col">Nume Partener</th>
                <th scope="col">Cod Partener</th>
                <th scope="col">Tip Partener</th>
                <th scope="col">CUI</th>
                <th scope="col">Nr. Reg. Com.</th>
                <th scope="col">LegalForm</th>
                <th scope="col">Actiune</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partners of PartnerList | async ;  let i = index">
                
           
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.PartnerName}} </button></td>
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.PartnerCode}} </button></td>
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.PartnerType}} </button></td>
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.ComercialRegistration}} </button></td>
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.FiscalRegistration}} </button></td>
               <td><button type="button" class="buttonTransparent" (click)="PartnerEdit(partners.PartnerId)">{{partners.LegalForm}} </button></td>
                <td>
                    <!-- <button type="button" (click)="PartnerDelete(partners.PartnerId)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button> -->
                    <button type="text" (click)="showDialog()" pButton label="Sterge">{{partners.PartnerId}}</button>
                    <button (click)="onClick($event, partners)">Sterge</button>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="button" class="btn btn-success" routerLink="/nomenclature/partners/partners-details">Adauga</button>
    
          <p-dialog header="Stergere Partener" [(visible)]="display" modal="modal">
              Doriti Stergerea partenerului {{PartnerNameForDelete}}?
              <button (click)="PartnerDelete(PartenerIdForDelete)">Da</button>
              <button (click)="DoNotshowDialog()">Nu</button>
          </p-dialog>
      
      
            
      
<!--             
              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            
              <mat-table #table [dataSource]="dataSource" matSort>
            
            
                <ng-container matColumnDef="PartnerStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerStatus </mat-header-cell>
                <mat-cell *matCellDef="let element"><a style="color:rgb(0, 0, 0);" routerLink="/nomenclature/partners/partners-details" > {{PartnerList.PartnerStatus}} </a> </mat-cell> 
                </ng-container>
            
                <ng-container matColumnDef="PartnerName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerName </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a style="color:rgb(0, 0, 0);" routerLink="/nomenclature/partners/partners-details">{{element.PartnerName}} </a></mat-cell> 
                </ng-container>
            
         
                <ng-container matColumnDef="PartnerCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerCode </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerCode}} </mat-cell>
                </ng-container>
            
           
                <ng-container matColumnDef="PartnerType">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerType </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerType}} </mat-cell>
                </ng-container>
            
    
                
                <ng-container matColumnDef="FiscalRegistration">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> FiscalRegistration </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.FiscalRegistration}}  </mat-cell>
                </ng-container>
             
                <ng-container matColumnDef="PartnerAddress">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>  PartnerAddress </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerAddress}}  </mat-cell>
                </ng-container>
            
                 
                <ng-container matColumnDef="LegalForm">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> LegalForm </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.LegalForm}}  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            
              <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event">
              </mat-paginator>
             -->
</div>
      
<!-- <ul *ngFor="let partners of PartnerList | async ;  let i = index">
    {{partners.PartnerId}}
  </ul>  -->
