<div class="card">
    <div class="card-header">
      Lista Parteneri
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
              <tr>
                
                <th scope="col">Nume Partener</th>
                <th scope="col">Cod Partener</th>
                <th scope="col">Tip Partener</th>
                <th scope="col">CUI</th>
                <th scope="col">Nr. Reg. Com.</th>
                <th scope="col">LegalForm</th>
                <th scope="col">Actiune</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let partners of PartnerList | async ;  let i = index">
                
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.PartnerName}} </a></td>
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.PartnerCode}} </a></td>
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.PartnerType}} </a></td>
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.ComercialRegistration}} </a></td>
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.FiscalRegistration}} </a></td>
                <td><a routerLink="/nomenclature/partners/partners-details"> {{partners.LegalForm}} </a></td>
                <td>
                    <button type="button" class="btn btn-danger">Sterge</button>
                </td>
              </tr>
            </tbody>
          </table>

<!--             
              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            
              <mat-table #table [dataSource]="dataSource" matSort>
            
            
                <ng-container matColumnDef="PartnerStatus">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerStatus </mat-header-cell>
                <mat-cell *matCellDef="let element"><a style="color:rgb(0, 0, 0);" routerLink="/nomenclature/partners/partners-details" > {{PartnerList.PartnerStatus}} </a> </mat-cell> 
                </ng-container>
            
                <ng-container matColumnDef="PartnerName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerName </mat-header-cell>
                <mat-cell *matCellDef="let element"> <a style="color:rgb(0, 0, 0);" routerLink="/nomenclature/partners/partners-details">{{element.PartnerName}} </a></mat-cell> 
                </ng-container>
            
         
                <ng-container matColumnDef="PartnerCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerCode </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerCode}} </mat-cell>
                </ng-container>
            
           
                <ng-container matColumnDef="PartnerType">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> PartnerType </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerType}} </mat-cell>
                </ng-container>
            
    
                
                <ng-container matColumnDef="FiscalRegistration">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> FiscalRegistration </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.FiscalRegistration}}  </mat-cell>
                </ng-container>
             
                <ng-container matColumnDef="PartnerAddress">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>  PartnerAddress </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.PartnerAddress}}  </mat-cell>
                </ng-container>
            
                 
                <ng-container matColumnDef="LegalForm">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> LegalForm </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.LegalForm}}  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            
              <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event">
              </mat-paginator>
             -->
</div>
      
<!-- <ul *ngFor="let partners of PartnerList | async ;  let i = index">
    {{partners.PartnerId}}
  </ul>  -->
