<ul class="nav nav-tabs">
                <li class="nav-item">
                                 <a routerLink="/list/contract-general" >General</a>
                </li>

                <li class="nav-item">
                                <a routerLink="/list/contract-financial"> Financiar</a>
                </li>
                <li class="nav-item">
                                <a routerLink="/list/contract-documents">Documente</a>
                </li>
                <li class="nav-item">
                                <a routerLink="/list/contract-tasks" class="nav-link active">Task</a>
                </li>
                <li class="nav-item">
                                <a routerLink="/list/contract-history" >Istoric</a>
                </li>
                <li class="nav-item">
                                <a routerLink="/list/contract-alerts"> Alerte</a>
                </li>
              </ul>