<section id="main">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-6">
                                                <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-general">General</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-financial"> Financiar</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-documents">Documente</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-tasks">Task</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-history" class="nav-link active">Istoric</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-alerts"> Alerte</a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                                <ul class="nav justify-content-end">
                                                        <li class="nav-item">
                                                                <button type="button" class="btn btn-success">Salveaza</button>
                                                        </li>
                                                        <li class="nav-item">
                                                                <button type="button" class="btn btn-warning">Renunta</button>
                                                        </li>
                                                        
                                                </ul>
                                        </div>
                                </div>

                                <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">

                                                <div class="container-fluid general-page">
                                                        <div class="row">
                                                                <div class="col-md-12">



                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                
                        </div>
                </div>
        </div>


</section>