
/* #main {
    margin-left: 300px !important;
} */


 
.nav-item > a {
    font-size: 13px;
    
  }

  .card {
    border: 0px;
  }
  .card-title {
    background: #f1f1f1;  
  }

  .hr {
    background: #5cb85c;   
    height: 2px;
  }
  

  .nav-item .active {
    background: #5cb85c;
    color: white;
  
  }

  .nav-item > a {    
    color: black;
  }

  .general-page {
    border-style: solid;
   border-color: #f1f1f1;
  }

  .exampleFormControlInput1 {
    height: 24.5px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}