<section id="main">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-6">

                                                <ul class="nav nav-tabs">
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-general">General</a>
                                                        </li>

                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-financial"> Financiar</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-documents">Documente</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-tasks">Task</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-history">Istoric</a>
                                                        </li>
                                                        <li class="nav-item">
                                                                <a routerLink="/list/contract-alerts" class="nav-link active"> Alerte</a>
                                                        </li>
                                                </ul>
                                        </div>
                                        <div class="col-md-6">
                                                <ul class="nav justify-content-end">
                                                        <li class="nav-item">
                                                                <button type="button" class="btn btn-success">Salveaza</button>
                                                        </li>
                                                        <li class="nav-item">
                                                                <button type="button" class="btn btn-warning">Renunta</button>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>


<p-dialog header="Adauga Alerta" [(visible)]="displayAddEmail" modal="modal" [responsive]="true" [width]="800" [minWidth]="200">
  <p-scrollPanel [style]="{width: '100%', height: '600px'}" >
  <span>

                <div>Alerta predefinita?</div>
                <div>
                     
                                        <input class="form-check-input" type="checkbox" value="" [(ngModel)]="AlertExist">
                                        <!-- <p-triStateCheckbox [(ngModel)]="AlertExist" ></p-triStateCheckbox> -->
                                        <label class="form-check-label" for="defaultCheck1">
                                    
     
                                        </label>
                                  
                </div>

<div *ngIf="AlertExist then Da else Nu"> </div>

<ng-template #Nu>
        
                <div><p><strong>Denumire alerta:</strong></p></div>
                <div>
                                <input type="text" size="60" pInputText [(ngModel)] = "SelectedAlerts" placeholder="Expirare Contract"/>
                </div>
</ng-template>

<ng-template #Da>
       
                <div><p><strong>Selecteaza Alerte:</strong></p></div>
                <p-multiSelect [options]="alerts" [(ngModel)]="SelectedAlerts" [panelStyle]="{minWidth:'24em'}"></p-multiSelect>
</ng-template>
                
                               
                       
                                <div><p><strong>Catre:</strong></p></div>
                                <div>
                                        <input type="text" size="60" pInputText [(ngModel)] = "toEmailAddress" placeholder="example@abc.ro"/>
                                </div>
                        
                                <div ><strong>De la:</strong></div>
                                <div>
                                        <input type="text" size="60" pInputText  [(ngModel)] = "toEmailName" placeholder="Popescu Ion"/>
                                </div>
                  
                       
                                <div>CC:</div>
                                <div>
                                        <input type="text" size="60" pInputText [(ngModel)] = "cc" placeholder="example@abc.ro"/>
                            
                        </div>
                        <div>
                                <div>Reply To:</div>
                                <div>
                                        <input type="text" size="60" pInputText [(ngModel)] = "ReplytoEmail" placeholder="example@abc.ro"/>
                                </div>
                        </div>
                        <div >
                                <div>BCC:</div>
                                <div>
                                        <input type="text" size="60" pInputText [(ngModel)] = "BCCtoEmail" placeholder="example@abc.ro"/>
                                </div>
                        </div>
                       
                                <div>Subiect:</div>
                                <div>
                                        <input type="text" size="60" pInputText [(ngModel)] = "Subject" placeholder="Alerta"/>
                                </div>
                                
                                <!-- <input type="checkbox" id="1" [ngModel]="filter" (ngModelChange)="onFilterChange($event)"> Checkbox
                                <button (click)="onFilterChange($event)">Change Status</button>   -->


                                <div>Alerta recurenta?</div>
                                        <div>
                                             
                                                                <input class="form-check-input" type="checkbox" value="" [(ngModel)]="RecurentAlertSelect">
                                                                <label class="form-check-label" for="defaultCheck1">
                                                                     
                                                                </label>
                                                          
                                        </div>

                        <div *ngIf="RecurentAlertSelect then thenTemplateName else elseTemplateName"> </div>

                        <ng-template #elseTemplateName>
                                
                                        <div>Data:</div>
                                        <div>
                                                <p-calendar [showIcon]="true" [(ngModel)]="DataAlerta"></p-calendar>
                                                <span style="margin-left:35px"></span>
                                        
                                </div>
                        </ng-template>

                        <ng-template #thenTemplateName>
                               
                                        <div>Intervalul:</div>
                                        <div>
                                                <p-selectButton [options]="SchType" [(ngModel)]="selectedSchType"></p-selectButton>

                                        </div>
                                
                                <div *ngIf="selectedSchType=='Zilnic'; then Zilnic">
                                </div>
                                <div *ngIf="selectedSchType=='Lunar'; then Lunar">
                                </div>

                                <ng-template #Lunar>
                                                <div>Data Start</div>
                                                <div>
                                                
                                                                <p-calendar [(ngModel)]="dateStart" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div>In ziua:</div>
                                                <div >
                                                        <p-spinner size="30" [(ngModel)]="nrDaysMonth"  [min]="1" [max]="31"></p-spinner>
                                                </div>
                                                <div>Data Final</div>
                                                <div>
                                                
                                                                <p-calendar [(ngModel)]="dateFinal" [showIcon]="true"></p-calendar>
                                                </div>
                                              
                                </ng-template>
                                <ng-template #Zilnic>
                                                <div>Data Start</div>
                                                <div>
                                                
                                                                <p-calendar [(ngModel)]="dateStart" [showIcon]="true"></p-calendar>
                                                </div>
                                                <div>Data Final</div>
                                                <div>
                                                
                                                                <p-calendar [(ngModel)]="dateFinal" [showIcon]="true"></p-calendar>
                                                </div>
                                              
                                </ng-template>

                        </ng-template>

<br>
                                <div>Message:</div>
                                <div>
                                        <quill-editor id="editor-container" [(ngModel)]="text" [style]="{'height': '150px'}" placeholder="Editare continut alerta ..."></quill-editor>
                                </div>
                                <br>

  </span>
</p-scrollPanel>

  <p-footer>
    <button style="float: left;" pButton type="button" label="Send Test Email" (click)="TestEmailSend()" class="ui-button-success"></button>
    <button type="button" pButton icon="fa-check" (click)="SaveAlert()" label="Salveaza"></button>
    <button type="button" pButton icon="fa-close" (click)="displayAddEmail=false" label="Renunta"></button>
  </p-footer>

</p-dialog>

<div class="tab-content" id="nav-tabContent">
       <div class="tab-pane fade show active" id="nav-alerts" role="tabpanel" aria-labelledby="nav-alerts-tab">
        <div class="container-fluid general-page">
                        <div class="row">
                                        <div class="col-md-12">
                                                <div class="card">
                                                <div class="card-body">
                                                <h4 class="card-title">Configurare Alerte </h4>
                                                <hr class="hr">

             <button pButton type="button" (click)="displayEmail()" pButton icon="fa-external-link-square" label="Adauga"></button>
        <br>
        <br>

              <p-dataTable [value]="TabelAlerte">
                        <p-column field="Denumire" header="Denumire"></p-column>
                        <p-column field="Catre" header="Catre"></p-column>
                        <p-column field="Subiect" header="Subiect"></p-column>
                        <p-column field="Recurenta" header="Recurenta"></p-column>
              </p-dataTable>

        <br>
       
       
        </div>
                                                                </div>
                                                        </div>
                                        </div>
                        </div>
                </div>
        </div>
</div>
                </div>
        </div>
</section>