<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Add Contract General Page -->

<section id="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a routerLink="/list/contract-general" class="nav-link active">General</a>
              </li>
              <li class="nav-item">
                <a routerLink="/list/contract-financial"> Financiar</a>
              </li>
              <li class="nav-item">
                <a routerLink="/list/contract-documents">Documente</a>
              </li>
              <li class="nav-item">
                <a routerLink="/list/contract-tasks">Task</a>
              </li>
              <li class="nav-item">
                <a routerLink="/list/contract-history">Istoric</a>
              </li>
              <li class="nav-item">
                <a routerLink="/list/contract-alerts"> Alerte</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <button type="button" class="btn btn-success">Salveaza</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-warning">Renunta</button>
              </li>
            </ul>
          </div>

        </div>


        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">

            <!-- General Info Tab -->
            <div class="container-fluid general-page">
              <div class="row">
                <div class="col-md-12">
                  <div class="ui-g">
                    <div class="ui-g-12 ui-md-1">
                      <p>
                        <strong>Contract Parent</strong>
                      </p>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                      <input type="text" pTooltip="Contract Parent" [disabled]="true" [(ngModel)]="ContractParent">
                    </div>
                    <div class="ui-g-12 ui-md-1">
                      <p>
                        <strong>Version</strong>
                      </p>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                      <input type="text" pInputText placeholder="1" pTooltip="Enter Version" [(ngModel)]="Version">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="hr1">
              <div class="row">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">

                      <h4 class="card-title">Informatii Generale</h4>

                      <!-- <p class="card-text">Informatii Generale</p> -->
                      <hr class="hr">
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Partner Name</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-dropdown [options]="partner" [(ngModel)]="PartnerName" [style]="{'width':'150px'}" filter="true">

                          </p-dropdown>
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Contract Type</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-dropdown [options]="contract" [style]="{'width':'150px'}" optionLabel='name' [(ngModel)]="ContractType">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Contract Nmb.</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <input type="text" pInputText placeholder="123456" pTooltip="Enter Contract Number" [(ngModel)]="ContractNumber">
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Contract Code</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <input type="text" pInputText placeholder="XYZ" pTooltip="Enter Contract Code" [(ngModel)]="ContractCode">
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Signing Date</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-calendar [showIcon]="true" pTooltip="Enter Signing Date" tooltipPosition="top" [(ngModel)]="SigningDate"></p-calendar>
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Start Date</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-calendar [showIcon]="true" pTooltip="Enter Start Date" tooltipPosition="top" [(ngModel)]="StartDate"></p-calendar>
                        </div>
                      </div>
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>End Date</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-calendar [showIcon]="true" pTooltip="Enter End Date" tooltipPosition="top" [(ngModel)]="EndDate"></p-calendar>
                        </div>
                      </div>
                      <!-- <div class="ui-g">
                        <div class="ui-g-12 ui-md-6">
                          <p>
                            <strong>Contract Parent</strong>
                          </p>
                          <input type="text" pInputText placeholder="XYZ" pTooltip="Enter Contract Parent">
                        </div>
                    
                        <div class="ui-g-12 ui-md-6">
                            <p>
                              <strong>Version</strong>
                            </p>
                            <input type="text" pInputText placeholder="XYZ" pTooltip="Enter Version"> 
                          </div>
                    </div> -->
                      <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Contract Status</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-dropdown [options]="statusContract" [style]="{'width':'150px'}" optionLabel='name' [(ngModel)]="ContractStatus">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="ui-g-12">
                        <p>
                          <strong>Contract Description</strong>
                        </p>
                        <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="ContractDescription">Contract Description</textarea>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>



                      <br>
                      <h4 class="card-title">Corespondenta/Notificari</h4>
                      <!-- <p class="card-text">Corespondenta/Notificari</p> -->
                      <hr class="hr">
                      <div class="row">

                        <div class="col-md-12">
                          <div class="ui-g">
                            <div class="ui-g-12">
                              <p>
                                <strong>Corresponcende Address</strong>
                              </p>
                              <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="CorrespondenceAddress">Correspondence Address</textarea>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="ui-g">
                            <div class="ui-g-12 ui-md-4">
                              <p>
                                <strong>Tel/Fax</strong>
                              </p>
                              <input type="text" pInputText placeholder="123456" pTooltip="Enter Tel/Fax Nmb." [(ngModel)]="TelephoneFax">
                            </div>
                            <div class="ui-g-12 ui-md-4">
                              <p>
                                <strong>E-mail</strong>
                              </p>
                              <input type="text" pInputText placeholder="123456" pTooltip="Enter E-mail" [(ngModel)]="Email">
                            </div>

                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="ui-g-12">
                            <p>
                              <strong>Addressed To</strong>
                            </p>
                            <textarea [rows]="2" [cols]="90" pInputTextarea autoResize="autoResize" [(ngModel)]="AddressedTo">Person Name/Function....</textarea>
                          </div>
                        </div>
                      </div>
                    </div>                
                </div>
              </div>


              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Proprietati Standard Contract</h4>
                    <!-- <p class="card-text">Proprietati Standard Contract</p> -->
                    <hr class="hr">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-3">
                          <p>
                            <strong>Contract Category</strong>
                          </p>
                        </div>
                        <div class="ui-g-12 ui-md-8">
                          <p-dropdown [options]="classContract" [(ngModel)]="ContractCategory" [style]="{'width':'150px'}" filter="true">

                          </p-dropdown>
                        </div>
                      </div>
                      <div class="ui-g">
                          <div class="ui-g-12 ui-md-3">
                            <p>
                              <strong>Responsible Dept.</strong>
                            </p>
                          </div>
                          <div class="ui-g-12 ui-md-8">
                            <p-dropdown [options]="department" [(ngModel)]="ResponsibleDepartment" [style]="{'width':'150px'}" filter="true">
  
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-3">
                              <p>
                                <strong>Responsible Person</strong>
                              </p>
                            </div>
                            <div class="ui-g-12 ui-md-8">
                              <p-dropdown [options]="responsible" [(ngModel)]="ResponsiblePerson" [style]="{'width':'150px'}" filter="true">
    
                              </p-dropdown>
                            </div>
                          </div>
                          <div class="ui-g">
                              <div class="ui-g-12 ui-md-3">
                                <p>
                                  <strong>Expense/Income Class</strong>
                                </p>
                              </div>
                              <div class="ui-g-12 ui-md-8">
                                <p-dropdown [options]="expense_incomeClass" [(ngModel)]="ExpenseandIncomeClass" [style]="{'width':'150px'}" filter="true">
      
                                </p-dropdown>
                              </div>
                            </div>             
                                             
                            
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-4">
                                        <p>
                                          <strong>Cost Center</strong>
                                        </p>
                                        <p-dropdown [options]="center" [(ngModel)]="CostCenter" [style]="{'width':'150px'}" filter="true">
                  
                                          </p-dropdown>
                                      </div>
                                  <div class="ui-g-12 ui-md-4">
                                    <p>
                                      <strong>CashFlow Line</strong>
                                    </p>
                                    <p-dropdown [options]="cfLine" [(ngModel)]="CashFlowLine" [style]="{'width':'150px'}" filter="true">
              
                                      </p-dropdown>
                                  </div>
      
                                </div>
                             
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-3">
                                      <p>
                                        <strong>Self Extension</strong>
                                      </p>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="SelfExtension"></p-inputSwitch>
                                    </div>
                                  </div> 
                                  <div class="ui-g">
                                      <div class="ui-g-12 ui-md-3">
                                        <p>
                                          <strong>Extension Notification</strong>
                                        </p>
                                      </div>
                                      <div class="ui-g-12 ui-md-8">
                                        <input type="text" pInputText placeholder="10" pTooltip="Enter nmb. of days for the Extension Notification" [(ngModel)]="ExtensionNotification">
                                      </div>
                                    </div>
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-3">
                                          <p>
                                            <strong>Extension Notification Date</strong>
                                          </p>
                                        </div>
                                        <div class="ui-g-12 ui-md-8">
                                          <p-calendar [showIcon]="true" pTooltip="Enter Extension Notification Date" tooltipPosition="top" [(ngModel)]="ExtensionNotificationDate"></p-calendar>
                                        </div>
                                      </div>
              
  
                    <br>
                    <h4 class="card-title">Proprietati Specifice Contract</h4>
                    
                    <hr class="hr">
              
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="ui-g-12">
                              <p>
                                <strong>Notes</strong>
                              </p>
                              <textarea [rows]="2" [cols]="100" pInputTextarea autoResize="autoResize" [(ngModel)]="Notes">Notes</textarea>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <button type="button" class="btn btn-success">Modifica</button>
              <button type="button" class="btn btn-warning">Adauga Act Aditional</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{Version}}
</section>