
 
  .nav-item > a {
    font-size: 13px;
    
  }

  .card {
    border: 0px;
  }
  .card-title {
    background: #f1f1f1;  
  }

  .hr {
    background: #5cb85c;   
    height: 2px;
  }
  

  .nav-item .active {
    background: #5cb85c;
    color: white;
  
  }

  .nav-item > a {    
    color: black;
  }

  .general-page {
    border-style: solid;
   border-color: #f1f1f1;
  }

  .exampleFormControlInput1 {
    height: 24.5px;
  }

  .hr1 {
    height: 3px;
  }

/* butoane frumoase */
  .btn-glyphicon {
    padding:2px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 6px 3px 2px;
    border-radius:50px;
  
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0px 6px;
  font-size: 9px;

  border-radius: 15px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 9px;
  line-height: 0.1;
  border-radius: 30px;
}


/*  */
/* <a class="btn icon-btn btn-default" href="#">
<span class="glyphicon btn-glyphicon glyphicon-save img-circle text-muted"></span> <!-- defining icon -->
Download <!-- defining text -->
</a>

<a class="btn icon-btn btn-muted" href="#">
<span class="glyphicon btn-glyphicon glyphicon-remove-circle img-circle text-muted"></span>
Unavailable
</a>

<a class="btn icon-btn btn-primary" href="#">
<span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>
Like
</a>

<a class="btn icon-btn btn-success" href="#">
<span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
Add
</a>

<a class="btn icon-btn btn-info" href="#">
<span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>
Share
</a>

<a class="btn icon-btn btn-warning" href="#">
<span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>
Remove
</a>

<a class="btn icon-btn btn-danger" href="#">
<span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
Delete
</a> */
/* butoane frumoase */