<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


<div class="container" id="toolbar-container">
  <div class="row">

    <div class="col-3">
      <button (click)="AfiseazaTemplate()">Afiseaza Templateuri Existente</button>
      <select class="form-control" [(ngModel)]="numeTemplateSelectat">
        <option *ngFor="let item of RezultatFinal; let i = index"> {{RezultatFinal[i]}} </option>
      </select>
      <button (click)="IncarcaTemplate()">Incarca Template</button>
    </div>
    <div class="col-6"></div>

    <div class="col-3" id="Fisier">
      <label for="Nr">Ataseaza Fisier</label>
      <br>
      <label class="btn btn-success btn-file">
        Browse
        <input type="file" style="display: none;">
      </label>
    </div>


  </div>
  <br>
  <div class="row" id="toolbar-container">
    <div class="col-8">
      <label>
        <span> </span>
        <quill-editor id="editor-container" [(ngModel)]="text" [style]="{'height': '600px'}" placeholder="Editare contract ..."
        ></quill-editor>

      </label>
      <!-- {{ text }} -->

    </div>
    <div class="col-3">
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nume Fisier</th>
            <th>Data Adaugare</th>
            <th>User</th>
            <th>Actiune</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="">Doc123.doc</a>
            </td>
            <td>2017.04.08</td>
            <td>mihaela</td>
            <td>
              <button type="button" class="btn btn-danger">Sterge</button>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Doc dada 34.doc</a>
            </td>
            <td>2017.02.12</td>
            <td>ioana</td>
            <td>
              <button type="button" class="btn btn-danger">Sterge</button>
            </td>
          </tr>
          <tr>
            <td>
              <a href="">Doc tes 342.doc</a>
            </td>
            <td>2017.02.12</td>
            <td>vasile</td>
            <td>
              <button type="button" class="btn btn-danger">Sterge</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-4">
      <!-- <button>Salveaza</button> -->
      <!-- <button (click)="SalveazaTemplate()">Salveaza ca Template</button> -->


    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button>Exporta Word</button>
      <button>Exporta PDF</button>

      <p-dialog header="Salveaza template" [(visible)]="display" modal="modal">
        Denumire Template
        <input type="text" name="fname" [(ngModel)]="TemplateName">
        <button (click)="SalveazaTemplate()">Salveaza</button>

      </p-dialog>

      <button type="text" (click)="showDialog()" pButton label="Salveaza template"></button>

    </div>
  </div>
</div>


